@font-face { 
  font-family: "PT Sans"; 
  src: url("../fonts/ptsans") format("woff2"); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: "PT Sans"; 
  src: url("../fonts/ptsansbold") format("woff2"); 
  font-weight: bold; 
  font-style: normal; 
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: normal;
	font-family: "PT Sans", "Arial", sans-serif;
	background-color: #f2f2f2;
	text-transform: uppercase;
}

.container {
	background-color: #ffffff;
	width: 1200px;
}

.title {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	font-weight: bold;
}

.caption {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;	
}

.sedona b {
	font-size: 21px;
	line-height: 26px;
}

.main-nav ul{
    list-style: none;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.main-nav a {
	color: #000000;
	text-decoration: none;
}

.main-nav a:hover {
	color: #81b3d2;
}

.main-nav a:focus {
	color: #b2b2b2;
}

.main-nav a:active {
	color: #9b8d84;
}

.advantage-one-content,
.advantage-two-content {
    color: #ffffff;
    background-color: #81b3d2;
}

.advantage-one-content .caption,
.advantage-two-content .caption {
	color: #ffffff;
}

.advantage-service ul,
.advantages-list ul {
	list-style: none;
	margin: 0px;
    padding: 0px;
}

.advantages-list {
	background-color: #eeeeee;
}

.form-search label {
    color: #000000;
    font-weight: bold;
}

.form-search input::placeholder {
	color: #000000;
}

.btn {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

.btn-brown {
	background-color: #766357;
}

.btn-brown:hover {
    background-color: #604e43;
}

.btn-brown:focus, 
.btn-brown:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.5);
}

.btn-blue {
	background-color: #81b3d2;
}

.btn-blue:hover,
.social a:hover {
    background-color: #669ec0;
}

.btn-blue:focus, 
.btn-blue:active,
.social a:focus,
.social a:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.5);
}

.field {
	color: #333333;
	font-weight: bold;
	background-color: #f2f2f2;
}

.field:hover {
	background-color: #ebebeb;
}

.field:focus,
.field:active {
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	outline: 0;
}

.social ul {
    list-style: none;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.social a{
    color: #ffffff;
	text-decoration: none;
	background-color: #81b3d2;
}

.main-footer span {
	color: #000000;
	font-weight: bold;
}

.academy span {
	font-weight: normal;
}

.academy a {
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}

.academy a:hover {
    color: #81b3d2;
}

.academy a:focus,
.academy a:active {
	color: #bdbbbc;
}

.visually-hidden {
	display: none;
}

/*Hotels*/

.main-nav .active {
    color: #766357;
}

.page .main {
	background-color: #fefefe;
}

.filtering-type,
.filtering-type h3,
.filtering-cost,
.filtering-cost h3 {
	color: #ffffff;
}

.filtering-btn {
	background-color: transparent;
	border: 1px solid #ffffff;
}

.filtering-cost table {
	border-collapse: collapse;
}

.filtering-cost td {
	border: 1px solid #ffffff;
}

.filtering-type ul,
.filtering-cost ul,
.sorting-of-type,
.sorting-arrows {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.sorting span {
	color: #000000;
}

.sorting .found {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.sorting-of-type a,
.sorting-arrows a {
	text-decoration: none;
	color: #cacaca;
}

.sorting-of-type a {
	border-bottom: 1px dashed #cacaca;
}

.sorting-of-type a:hover {
	color: #81b3d2;
	border-bottom: 1px dashed #81b3d2;
}

.sorting-of-type a:focus,
.sorting-of-type a:active {
	color: #000000;
	border-bottom: none;
}

.sorting-of-type .active {
	color: #81b3d2;
}

.sorting-arrows a:hover {
	color: #000000;
}

.sorting-arrows a:focus,
.sorting-arrows a:active {
	color: #81b3d2;
}

.sorting-arrows .active {
	color: #81b3d2;
}

.hotels article {
	border-top: 1px solid #cacaca;
}

.hotels .hotels-villas {
	border-bottom: 1px solid #cacaca;
}

.title a {
	color: #000000;
	text-decoration: none;
}

.title a:hover {
	color: #81b3d2;
}

.title a:focus,
.title a:active {
	color: #b2b2b2;
}

.hotels .rating {
	background-color: #f2f2f2;
}

/*Сетка*/

.main-header {
	height: 55px;
}

.main-nav {
	display: flex;
	justify-content: space-around;
}

.main-header div {
	order: 2;
}

.main-nav .part-one {
	order: 1;
}

.main-nav .part-two {
	order: 3;
}

.main-nav ul{
	display: flex;
	align-items: center;
    height: 55px;
    flex-basis: 530px;
}

.main-nav li {
   margin: 0 auto;
}

.welcome{
	background-image: url("../img/intro.jpg"); 
	min-height: 725px;
	display: flex;
	justify-content: center;
}

.sedona {
	align-self: flex-end;
}

.advantage-one {
	min-height: 255px;
	display: flex;
}

.advantage-one-content {
	width: 400px;
}

.advantage-service ul {
	display: flex;
	min-height: 330px;
	align-items: center;
}

.advantage-two {
	min-height: 255px;
	display: flex;
}

.advantage-two-content {
	width: 400px;
}

.advantages-list ul{
	min-height: 255px;
	display: flex;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-footer {
	display: flex;
	justify-content: space-around;
	min-height: 120px;
	align-items: center;
}

/*Сетка Hotels*/

.filtering {
	background-image: url("../img/filter.jpg");
	display: flex;
	min-height: 215px;
}

.filtering form {
	display: flex;
}

.filtering-type,
.filtering-cost {
	display: flex;	
}

.filtering-type ul {
    width: 140px;   
}

.filtering-cost {
	width: 320px;
	flex-direction: column;
}

.sorting {
	display: flex;
	height: 85px;
    align-items: center;
    justify-content: flex-start;
}

.sorting-of-type {
	display: flex;
}

.sorting-of-type li {
	width: 100px;
}

.sorting-arrows {
	display: flex;
	margin-left: auto;
}


.sorting-arrows li {
	width: 100px;
}

.hotels-amara,
.hotels-desert,
.hotels-villas {
	display: flex;
	min-height: 150px;
	align-items: center;
}

.hotels div {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}







