@font-face { 
  font-family: "PT Sans"; 
  src: url("../fonts/ptsans.woff2") format("woff2"); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: "PT Sans"; 
  src: url("../fonts/ptsansbold.woff2") format("woff2"); 
  font-weight: bold; 
  font-style: normal; 
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: normal;
	font-family: "PT Sans", "Arial", sans-serif;
	background-color: #f2f2f2;
	text-transform: uppercase;
}

.container {
	background-color: #ffffff;
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 5px 5px rgba(0, 1, 1, 0.2);
}

.title {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	font-weight: bold;
}

.caption {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
}

.main-header {
	position: relative;
}

.main-header .wraper {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 138px;
	height: 70px;
}

.main-nav ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    line-height: 26px;
}

.main-nav li {
	width: 20%;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.main-nav li:nth-child(2) {
	margin-right: 20%;
}

.main-nav .main-item {
	width: 230px;
	text-align: center;
}

.list-item:nth-child(3) .main-item {
	padding-left: 5px;
}

.list-item:nth-child(4) .main-item {
	padding-left: 13px;
}

.main-nav a {
	color: #000000;
	text-decoration: none;
}

.main-nav a:hover {
	color: #81b3d2;
}

.main-nav a:focus {
	color: #b2b2b2;
}

.main-nav a:active {
	color: #9b8d84;
}

.welcome{
	background-image: url("../img/mask.png"), url("../img/intro.jpg"); 
	background-repeat: no-repeat, no-repeat;
	background-position: 0 452px, 0 -55px;
	min-height: 509px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.welcome img {
	width: 458px;
	height: 352px;
	margin-top: -4px;
}

.sedona {
	min-height: 214px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sedona b {
	font-size: 21px;
	line-height: 26px;
	padding-top: 24px;
	margin-bottom: 13px;
    width: 576px;
	text-align: center;
}

.sedona p {
	width: 576px;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
}

.advantage-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item-content {
	width: 314px;
	min-height: 210px;
	text-align: center;
	padding-left: 43px;
	padding-right: 43px;
	padding-top: 8px;
}

.item-content .caption {
	width: 153px;	
	margin-left: auto;
	margin-right: auto;
}

.item-content p {
	width: 303px;
}

.town .caption {
	padding-bottom: 5px;
}

.town p {
    width: 301px;
    padding-top: 5px;
    padding-left: 6px;
}

.bridge .caption {
	width: 151px;
	padding-bottom: 2px;
}

.bridge p {
	padding-top: 8px;
	padding-left: 5px;
}

.advantage-service ul {
	display: flex;
	list-style: none;
	margin: 0px;
    padding: 0px;
    min-height: 330px;
}	

.advantage-item {
    color: #ffffff;
    background-color: #81b3d2;
}

.advantage-item img {
	width: 800px;
	height: 256px;
}

.advantage-item .caption {
	color: #ffffff;
}

.advantages-list ul {
	list-style: none;
	margin: 0px;
    padding: 0px;
    min-height: 255px;
	display: flex;
}

.advantages-list {
	background-color: #eeeeee;
}

.item-content .area{
    width: 280px;
    padding-left: 0px;
}

.item-content .road {
	width: 270px;
	padding-left: 0px;
}

.item-list h3{
    padding-top: 20px;
}

.item-list p {
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.service-item {
	width: 314px;
	min-height: 170px;
	text-align: center;
	padding-left: 43px;
	padding-right: 43px;
	padding-top: 142px;
}

.service-item .caption {
	width: 153px;	
	margin-left: auto;
	margin-right: auto;
}

.service-item p {
	width: 303px;
	padding-top: 2px;
	padding-left: 5px;
}

.housing {
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 162px 61px;
}

.food {
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 158px 64px;
}

.souvenir {
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 169px 58px;
}

.headline {
	width: 576px;
	margin: 0 auto;
	text-align: center;
	padding-top: 28px;
}

.headline p {
	line-height: 24px;
	margin-bottom: 47px;
}

.headline .btn-brown {
	font-size: 21px;
	line-height: 26px;
	display: inline-block;
	width: 570px;
	padding-top: 29px;
	padding-bottom: 29px;
}

.form {
	min-height: 767px;
}

.form-search .btn-blue {
	font-size: 21px;
	line-height: 26px;
}

.map {
	height: 473px;
	overflow: hidden;
}

.map img {
	width: 1200px;
	height: 593px;
}

.form-search label {
    color: #000000;
    font-weight: bold;
}

.form-search input::placeholder {
	color: #000000;
}

.btn {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

.btn-brown {
	background-color: #766357;
}

.btn-brown:hover {
    background-color: #604e43;
}

.btn-brown:focus,
.btn-brown:active {
	background-color: #503e33;
    color: rgba(255, 255, 255, 0.5);
} 

.btn-blue {
	background-color: #81b3d2;
}

.btn-blue:hover {
	background-color: #669ec0;
}

.btn-blue:focus,
.btn-blue:active {
	background-color: #5496bd;
    color: rgba(255, 255, 255, 0.5);
}

.btn-fb:focus,
.btn-fb:active {
	background-image: url("../img/fb-icon-2.svg");
}

.btn-tw:focus,
.btn-tw:active {
	background-image: url("../img/twitter-2.svg");
}

.btn-yt:focus,
.btn-yt:active {
	background-image: url("../img/youtube-2.svg");
}

.field {
	color: #333333;
	font-weight: bold;
	background-color: #f2f2f2;
}

.field:hover {
	background-color: #ebebeb;
}

.field:focus,
.field:active {
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	outline: 0;
}

.main-footer {
	display: flex;
	justify-content: space-around;
	min-height: 120px;
	align-items: center;
}

.main-footer .visit {
	color: #000000;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	padding-left: 25px;
}

.social {
	list-style: none;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
	display: flex;
	justify-content: space-between;
	width: 152px;
	padding-left: 44px;
	padding-top: 5px;
}

.social-item {
	display: inline-block;
	width: 46px;
	height: 48px;
}

.social a{
    color: #ffffff;
	text-decoration: none;
	background-color: #81b3d2;
}

.social a:hover {
    background-color: #669ec0;
}

.social a:focus,
.social a:active {
	background-color: #5496bd;
    color: rgba(255, 255, 255, 0.5);
}

.btn-tw {
	background: #81b3d2 url("../img/twitter.svg") no-repeat 50% 50%;
}

.btn-fb {
	background: #81b3d2 url("../img/fb-icon.svg") no-repeat 50% 50%;
}

.btn-yt {
	background: #81b3d2 url("../img/youtube.svg") no-repeat 50% 50%;
}

.academy {
	display: flex;
	width: 205px;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	line-height: 26px;
}

.academy .web {
	font-weight: normal;
	color: #000000;
}

.academy a {
	display: block;
	width: 118px;
	height: 43px;
	background: url("../img/logo-htmlacademy.svg") no-repeat;
}

.academy a:hover {
	background: url("../img/logo-htmlacademy-blue.svg") no-repeat;
}

.academy a:focus,
.academy a:active {
	background: url("../img/logo-htmlacademy-gray.svg") no-repeat;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*Hotels*/

.main-nav .active {
    color: #766357;
}

.page .main {
	background-color: #fefefe;
}

.filter-item,
.filtering-cost {
	color: #ffffff;
}

.filter-item h3,
.filtering-cost h3 {
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
}

.filtering-btn {
	background-color: transparent;
	border: 1px solid #ffffff;
}

.filtering-cost table {
	border-collapse: collapse;
}

.filtering-cost td {
	border: 1px solid #ffffff;
}

.filter-item ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.filtering-cost ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.filtering {
	background-image: url("../img/filter.jpg");
	background-repeat: no-repeat;
}

.filtering form {
	padding-left: 70px;
	display: flex;
}

.filter-item {
	width: 240px;
	min-height: 215px;
	align-self: flex-start;
}

.complex {
	padding-right: 255px;
}

.filtering-cost {
	width: 395px;
	min-height: 215px;
}

.sorting {
	padding-left: 45px;
	display: flex;
	align-items: center;
}

.sorting-of-type {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	width: 850px;
    justify-content: space-between;
}

.sorting-of-type li {
	display: flex;
	height: 85px;
	align-items: center;
}

.sorting span {
	color: #000000;
}

.sorting .found {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.sorting:not(.found) {
	font-size: 12px;
	line-height: 18px;
}

.sorting-of-type a {
	text-decoration: none;
	color: #cacaca;
	border-bottom: 1px dashed #cacaca;
}

.sorting-of-type a:hover {
	color: #81b3d2;
	border-bottom: 1px dashed #81b3d2;
}

.sorting-of-type a:focus,
.sorting-of-type a:active {
	color: #000000;
	border-bottom: none;
}

.sorting-of-type .active {
	color: #81b3d2;
}

.sorting-arrows a:hover {
	color: #000000;
}

.sorting-arrows a:focus,
.sorting-arrows a:active {
	color: #81b3d2;
}

.sorting-arrows .active {
	color: #81b3d2;
}

.found {
	display: inline-block;
    margin: 0 auto;
}

.sort {
	display: inline-block;
    margin: 0 auto;
}

.sorting-arrows:last-child {
	padding-right: 70px;
}

.hotel {
	border-top: 1px solid #cacaca;
	display: flex;
	min-height: 150px;
	align-items: center;
	justify-content: space-between;
}

.hotel img {
	width: 135px;
	height: 95px;
	padding-left: 70px;
	padding-right: 30px;
}

.hotels {
	display: flex;
	flex-direction: column;
}

.hotels .hotels-villas {
	border-bottom: 1px solid #cacaca;
}

.hotels-btn .btn {
	padding: 5px 15px;
}

.title a {
	color: #000000;
	text-decoration: none;
}

.title a:hover {
	color: #81b3d2;
}

.title a:focus,
.title a:active {
	color: #b2b2b2;
}

.hotels .rating {
	background-color: #f2f2f2;
}

.hotel .title {
	font-size: 21px;
	line-height: 26px;
}

.parameter {
	width: 363px;
	margin-right: auto;
}

.score {
    padding-right: 70px;
}














